body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

img {
    width: 100px;
    height:100px;
}

#d2 {
    width: 100%;
    height: 25px;
    }

b {
    text-align: center;
}
#end {
    padding: 30px;
}